## Distribución Demográfica por estado de Ciudadanos de 18 a 29 Años en Orden Descendente

 Importamos librerias

In [597]:
import pandas as pd
import numpy as np

Importamos los datos

In [596]:
df = pd.read_excel('../data/ine.xlsx', header=0 )

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x76ff5c38ab90>>
Traceback (most recent call last):
  File "/home/hernan/Escritorio/INEJUVENTUD/env/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

Informacion general de dataframe

In [598]:
df.head()

,CLAVE\nENTIDAD,NOMBRE\nENTIDAD,CLAVE\nDISTRITO,NOMBRE\nDISTRITO,CLAVE\nMUNICIPIO,NOMBRE\nMUNICIPIO,SECCION,PADRON\nHOMBRES,PADRON\nMUJERES,PADRON\nNO BINARIO,...,LISTA_50_54_NOBINARIO,LISTA_55_59_HOMBRES,LISTA_55_59_MUJERES,LISTA_55_59_NOBINARIO,LISTA_60_64_HOMBRES,LISTA_60_64_MUJERES,LISTA_60_64_NOBINARIO,LISTA_65_Y_MAS_HOMBRES,LISTA_65_Y_MAS_MUJERES,LISTA_65_Y_MAS_NOBINARIO
0,1,RESIDENTES EXTRANJERO,0.0,0,0.0,0,0.0,8444,5756,0,...,0.0,355.0,234.0,0.0,180.0,149.0,0.0,206.0,139.0,0.0
1,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,338.0,973,1013,0,...,0.0,56.0,72.0,0.0,39.0,37.0,0.0,88.0,109.0,0.0
2,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,339.0,895,954,0,...,0.0,55.0,60.0,0.0,38.0,43.0,0.0,88.0,97.0,0.0
3,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,340.0,951,1001,0,...,0.0,56.0,66.0,0.0,46.0,48.0,0.0,103.0,83.0,0.0
4,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,341.0,1174,1184,0,...,0.0,59.0,60.0,0.0,50.0,62.0,0.0,110.0,105.0,0.0

In [599]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70784 entries, 0 to 70783
Data columns (total 87 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CLAVE
ENTIDAD              70784 non-null  object
 1   NOMBRE
ENTIDAD             70783 non-null  object
 2   CLAVE
DISTRITO             70783 non-null  float64
 3   NOMBRE
DISTRITO            70783 non-null  object
 4   CLAVE
MUNICIPIO            70783 non-null  float64
 5   NOMBRE
MUNICIPIO           70783 non-null  object
 6   SECCION                    70783 non-null  float64
 7   PADRON
HOMBRES             70784 non-null  int64
 8   PADRON
MUJERES             70784 non-null  int64
 9   PADRON
NO BINARIO          70784 non-null  int64
 10  PADRON
ELECTORAL           70784 non-null  int64
 11  LISTA
HOMBRES              70784 non-null  int64
 12  LISTA
MUJERES              70784 non-null  int64
 13  LISTA
NO BINARIO           70784 non-null  int64
 14  LISTA
NOMINAL              70784 non-null  int64
 15  PADRON_18_HOMBRES          70783 non-null  float64
 16  PADRON_18_MUJERES          70783 non-null  float64
 17  PADRON_18_NOBINARIO        70783 non-null  float64
 18  PADRON_19_HOMBRES          70783 non-null  float64
 19  PADRON_19_MUJERES          70783 non-null  float64
 20  PADRON_19_NOBINARIO        70783 non-null  float64
 21  PADRON_20_24_HOMBRES       70783 non-null  float64
 22  PADRON_20_24_MUJERES       70783 non-null  float64
 23  PADRON_20_24_NOBINARIO     70783 non-null  float64
 24  PADRON_25_29_HOMBRES       70783 non-null  float64
 25  PADRON_25_29_MUJERES       70783 non-null  float64
 26  PADRON_25_29_NOBINARIO     70783 non-null  float64
 27  PADRON_30_34_HOMBRES       70783 non-null  float64
 28  PADRON_30_34_MUJERES       70783 non-null  float64
 29  PADRON_30_34_NOBINARIO     70783 non-null  float64
 30  PADRON_35_39_HOMBRES       70783 non-null  float64
 31  PADRON_35_39_MUJERES       70783 non-null  float64
 32  PADRON_35_39_NOBINARIO     70783 non-null  float64
 33  PADRON_40_44_HOMBRES       70783 non-null  float64
 34  PADRON_40_44_MUJERES       70783 non-null  float64
 35  PADRON_40_44_NOBINARIO     70783 non-null  float64
 36  PADRON_45_49_HOMBRES       70783 non-null  float64
 37  PADRON_45_49_MUJERES       70783 non-null  float64
 38  PADRON_45_49_NOBINARIO     70783 non-null  float64
 39  PADRON_50_54_HOMBRES       70783 non-null  float64
 40  PADRON_50_54_MUJERES       70783 non-null  float64
 41  PADRON_50_54_NOBINARIO     70783 non-null  float64
 42  PADRON_55_59_HOMBRES       70783 non-null  float64
 43  PADRON_55_59_MUJERES       70783 non-null  float64
 44  PADRON_55_59_NOBINARIO     70783 non-null  float64
 45  PADRON_60_64_HOMBRES       70783 non-null  float64
 46  PADRON_60_64_MUJERES       70783 non-null  float64
 47  PADRON_60_64_NOBINARIO     70783 non-null  float64
 48  PADRON_65_Y_MAS_HOMBRES    70783 non-null  float64
 49  PADRON_65_Y_MAS_MUJERES    70783 non-null  float64
 50  PADRON_65_Y_MAS_NOBINARIO  70783 non-null  float64
 51  LISTA_18_HOMBRES           70783 non-null  float64
 52  LISTA_18_MUJERES           70783 non-null  float64
 53  LISTA_18_NOBINARIO         70783 non-null  float64
 54  LISTA_19_HOMBRES           70783 non-null  float64
 55  LISTA_19_MUJERES           70783 non-null  float64
 56  LISTA_19_NOBINARIO         70783 non-null  float64
 57  LISTA_20_24_HOMBRES        70783 non-null  float64
 58  LISTA_20_24_MUJERES        70783 non-null  float64
 59  LISTA_20_24_NOBINARIO      70783 non-null  float64
 60  LISTA_25_29_HOMBRES        70783 non-null  float64
 61  LISTA_25_29_MUJERES        70783 non-null  float64
 62  LISTA_25_29_NOBINARIO      70783 non-null  float64
 63  LISTA_30_34_HOMBRES        70783 non-null  float64
 64  LISTA_30_34_MUJERES        70783 non-null  float64
 65  LISTA_30_34_NOBINARIO      70783 non-null  float64
 66  LISTA_35_39_HOMBRES        70783 non-null  float64
 67  LISTA_35_39_MUJERES        70783 non-null  float64
 68  LISTA_35_39_NOBINARIO      70783 non-null  float64
 69  LISTA_40_44_HOMBRES        70783 non-null  float64
 70  LISTA_40_44_MUJERES        70783 non-null  float64
 71  LISTA_40_44_NOBINARIO      70783 non-null  float64
 72  LISTA_45_49_HOMBRES        70783 non-null  float64
 73  LISTA_45_49_MUJERES        70783 non-null  float64
 74  LISTA_45_49_NOBINARIO      70783 non-null  float64
 75  LISTA_50_54_HOMBRES        70783 non-null  float64
 76  LISTA_50_54_MUJERES        70783 non-null  float64
 77  LISTA_50_54_NOBINARIO      70783 non-null  float64
 78  LISTA_55_59_HOMBRES        70783 non-null  float64
 79  LISTA_55_59_MUJERES        70783 non-null  float64
 80  LISTA_55_59_NOBINARIO      70783 non-null  float64
 81  LISTA_60_64_HOMBRES        70783 non-null  float64
 82  LISTA_60_64_MUJERES        70783 non-null  float64
 83  LISTA_60_64_NOBINARIO      70783 non-null  float64
 84  LISTA_65_Y_MAS_HOMBRES     70783 non-null  float64
 85  LISTA_65_Y_MAS_MUJERES     70783 non-null  float64
 86  LISTA_65_Y_MAS_NOBINARIO   70783 non-null  float64
dtypes: float64(75), int64(8), object(4)
memory usage: 47.0+ MB

In [600]:
df.describe()

,CLAVE\nDISTRITO,CLAVE\nMUNICIPIO,SECCION,PADRON\nHOMBRES,PADRON\nMUJERES,PADRON\nNO BINARIO,PADRON\nELECTORAL,LISTA\nHOMBRES,LISTA\nMUJERES,LISTA\nNO BINARIO,...,LISTA_50_54_NOBINARIO,LISTA_55_59_HOMBRES,LISTA_55_59_MUJERES,LISTA_55_59_NOBINARIO,LISTA_60_64_HOMBRES,LISTA_60_64_MUJERES,LISTA_60_64_NOBINARIO,LISTA_65_Y_MAS_HOMBRES,LISTA_65_Y_MAS_MUJERES,LISTA_65_Y_MAS_NOBINARIO
count,70783.000000,70783.000000,70783.000000,7.078400e+04,7.078400e+04,70784.000000,7.078400e+04,7.078400e+04,7.078400e+04,70784.000000,...,70783.0,70783.000000,70783.000000,70783.000000,70783.000000,70783.000000,70783.0,70783.000000,70783.000000,70783.0
mean,7.445502,48.578769,1657.279107,1.361149e+03,1.465279e+03,0.002967,2.826431e+03,1.346185e+03,1.453433e+03,0.002967,...,0.0,46.260416,52.180382,0.000014,38.438100,44.016784,0.0,82.960965,100.763686,0.0
std,7.020501,66.219521,1396.494520,1.810686e+05,1.949198e+05,0.396525,3.759887e+05,1.790768e+05,1.933434e+05,0.396525,...,0.0,57.046521,57.227144,0.003759,40.640032,41.223112,0.0,60.933793,70.292534,0.0
min,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
25%,3.000000,10.000000,580.000000,3.307500e+02,3.540000e+02,0.000000,6.860000e+02,3.300000e+02,3.530000e+02,0.000000,...,0.0,23.000000,25.000000,0.000000,19.000000,21.000000,0.0,45.000000,52.000000,0.0
50%,5.000000,30.000000,1301.000000,5.330000e+02,5.810000e+02,0.000000,1.114000e+03,5.320000e+02,5.800000e+02,0.000000,...,0.0,37.000000,42.000000,0.000000,32.000000,37.000000,0.0,75.000000,92.000000,0.0
75%,10.000000,59.000000,2346.000000,8.230000e+02,8.970000e+02,0.000000,1.719000e+03,8.220000e+02,8.960000e+02,0.000000,...,0.0,56.000000,64.000000,0.000000,48.000000,56.000000,0.0,108.000000,133.000000,0.0
max,40.000000,570.000000,6922.000000,4.817380e+07,5.185914e+07,105.000000,1.000330e+08,4.764416e+07,5.143992e+07,105.000000,...,0.0,5053.000000,4392.000000,1.000000,3295.000000,2498.000000,0.0,4134.000000,3065.000000,0.0

Nombre de todas las comunas que tiene el dataframe

In [601]:
nombres_columnas = df.columns
print(nombres_columnas)

Index(['CLAVE\nENTIDAD', 'NOMBRE\nENTIDAD', 'CLAVE\nDISTRITO',
       'NOMBRE\nDISTRITO', 'CLAVE\nMUNICIPIO', 'NOMBRE\nMUNICIPIO', 'SECCION',
       'PADRON\nHOMBRES', 'PADRON\nMUJERES', 'PADRON\nNO BINARIO',
       'PADRON\nELECTORAL', 'LISTA\nHOMBRES', 'LISTA\nMUJERES',
       'LISTA\nNO BINARIO', 'LISTA\nNOMINAL', 'PADRON_18_HOMBRES',
       'PADRON_18_MUJERES', 'PADRON_18_NOBINARIO', 'PADRON_19_HOMBRES',
       'PADRON_19_MUJERES', 'PADRON_19_NOBINARIO', 'PADRON_20_24_HOMBRES',
       'PADRON_20_24_MUJERES', 'PADRON_20_24_NOBINARIO',
       'PADRON_25_29_HOMBRES', 'PADRON_25_29_MUJERES',
       'PADRON_25_29_NOBINARIO', 'PADRON_30_34_HOMBRES',
       'PADRON_30_34_MUJERES', 'PADRON_30_34_NOBINARIO',
       'PADRON_35_39_HOMBRES', 'PADRON_35_39_MUJERES',
       'PADRON_35_39_NOBINARIO', 'PADRON_40_44_HOMBRES',
       'PADRON_40_44_MUJERES', 'PADRON_40_44_NOBINARIO',
       'PADRON_45_49_HOMBRES', 'PADRON_45_49_MUJERES',
       'PADRON_45_49_NOBINARIO', 'PADRON_50_54_HOMBRES',
       'PADRON_50_54_MUJERES', 'PADRON_50_54_NOBINARIO',
       'PADRON_55_59_HOMBRES', 'PADRON_55_59_MUJERES',
       'PADRON_55_59_NOBINARIO', 'PADRON_60_64_HOMBRES',
       'PADRON_60_64_MUJERES', 'PADRON_60_64_NOBINARIO',
       'PADRON_65_Y_MAS_HOMBRES', 'PADRON_65_Y_MAS_MUJERES',
       'PADRON_65_Y_MAS_NOBINARIO', 'LISTA_18_HOMBRES', 'LISTA_18_MUJERES',
       'LISTA_18_NOBINARIO', 'LISTA_19_HOMBRES', 'LISTA_19_MUJERES',
       'LISTA_19_NOBINARIO', 'LISTA_20_24_HOMBRES', 'LISTA_20_24_MUJERES',
       'LISTA_20_24_NOBINARIO', 'LISTA_25_29_HOMBRES', 'LISTA_25_29_MUJERES',
       'LISTA_25_29_NOBINARIO', 'LISTA_30_34_HOMBRES', 'LISTA_30_34_MUJERES',
       'LISTA_30_34_NOBINARIO', 'LISTA_35_39_HOMBRES', 'LISTA_35_39_MUJERES',
       'LISTA_35_39_NOBINARIO', 'LISTA_40_44_HOMBRES', 'LISTA_40_44_MUJERES',
       'LISTA_40_44_NOBINARIO', 'LISTA_45_49_HOMBRES', 'LISTA_45_49_MUJERES',
       'LISTA_45_49_NOBINARIO', 'LISTA_50_54_HOMBRES', 'LISTA_50_54_MUJERES',
       'LISTA_50_54_NOBINARIO', 'LISTA_55_59_HOMBRES', 'LISTA_55_59_MUJERES',
       'LISTA_55_59_NOBINARIO', 'LISTA_60_64_HOMBRES', 'LISTA_60_64_MUJERES',
       'LISTA_60_64_NOBINARIO', 'LISTA_65_Y_MAS_HOMBRES',
       'LISTA_65_Y_MAS_MUJERES', 'LISTA_65_Y_MAS_NOBINARIO'],
      dtype='object')

Filtrar columnas a utilizar|

In [602]:
dfa = df.iloc[:, [1] + list(range(15, 27))]

In [603]:
dfa.head()

,NOMBRE\nENTIDAD,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO
0,RESIDENTES EXTRANJERO,16.0,9.0,0.0,29.0,18.0,0.0,258.0,163.0,0.0,527.0,272.0,0.0
1,AGUASCALIENTES,10.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,129.0,0.0
2,AGUASCALIENTES,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0
3,AGUASCALIENTES,15.0,13.0,0.0,23.0,29.0,0.0,134.0,157.0,0.0,122.0,131.0,0.0
4,AGUASCALIENTES,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0

Vamos a sumar la culumna PADRON_18_HOMBRES + PADRON_18_MUJERES + PADRON_18_NOBINARIO

In [604]:
dfa['suma_total'] = dfa.iloc[:, 1:27].sum(axis=1)

/tmp/ipykernel_25898/725086499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa['suma_total'] = dfa.iloc[:, 1:27].sum(axis=1)

In [605]:
dfa.head()

,NOMBRE\nENTIDAD,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO,suma_total
0,RESIDENTES EXTRANJERO,16.0,9.0,0.0,29.0,18.0,0.0,258.0,163.0,0.0,527.0,272.0,0.0,1292.0
1,AGUASCALIENTES,10.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,129.0,0.0,606.0
2,AGUASCALIENTES,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0,570.0
3,AGUASCALIENTES,15.0,13.0,0.0,23.0,29.0,0.0,134.0,157.0,0.0,122.0,131.0,0.0,624.0
4,AGUASCALIENTES,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0,765.0

Realizamos la agrupacion por entidad

In [606]:
resultado_agrupado = dfa.groupby('NOMBRE\nENTIDAD').sum().sort_values(by='suma_total', ascending=False)

In [607]:
resultado_agrupado

,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO,suma_total
NOMBRE ENTIDAD,,,,,,,,,,,,,
MEXICO,103950.0,104245.0,0.0,144386.0,144836.0,2.0,778340.0,776639.0,0.0,738960.0,739327.0,1.0,3530686.0
CIUDAD DE MEXICO,51014.0,50825.0,3.0,68824.0,67843.0,1.0,373822.0,370262.0,8.0,393159.0,392676.0,11.0,1768448.0
JALISCO,50021.0,50305.0,2.0,69864.0,70255.0,2.0,381530.0,380209.0,11.0,377489.0,370897.0,4.0,1750589.0
VERACRUZ DE IGNACIO DE LA LLAVE,42443.0,43256.0,0.0,61054.0,61495.0,1.0,334478.0,338659.0,1.0,311821.0,323277.0,0.0,1516485.0
PUEBLA,36459.0,37831.0,0.0,55452.0,57605.0,0.0,309818.0,320000.0,1.0,299874.0,310566.0,0.0,1427606.0
GUANAJUATO,36757.0,37952.0,0.0,52404.0,54328.0,1.0,288694.0,294551.0,0.0,287110.0,289834.0,1.0,1341632.0
CHIAPAS,27661.0,28874.0,0.0,46696.0,49414.0,0.0,266389.0,277362.0,0.0,253649.0,265257.0,0.0,1215302.0
NUEVO LEON,35803.0,35036.0,0.0,47328.0,45890.0,2.0,261308.0,251568.0,2.0,264193.0,248735.0,0.0,1189865.0
MICHOACAN DE OCAMPO,23766.0,24151.0,0.0,36856.0,37934.0,0.0,207144.0,212560.0,0.0,211591.0,215200.0,0.0,969202.0
BAJA CALIFORNIA,23839.0,23790.0,0.0,32712.0,31500.0,0.0,180820.0,173779.0,2.0,194367.0,183331.0,1.0,844141.0
OAXACA,19857.0,21111.0,0.0,31694.0,33612.0,0.0,173175.0,182194.0,0.0,173272.0,185708.0,0.0,820623.0
CHIHUAHUA,25149.0,25890.0,0.0,32575.0,32801.0,0.0,176797.0,174454.0,2.0,175201.0,172208.0,4.0,815081.0
GUERRERO,16311.0,17848.0,0.0,27842.0,30050.0,0.0,158812.0,168106.0,0.0,159342.0,166797.0,0.0,745108.0
TAMAULIPAS,22455.0,22537.0,0.0,29101.0,28951.0,0.0,156742.0,154587.0,1.0,154922.0,150949.0,1.0,720246.0
COAHUILA DE ZARAGOZA,21744.0,21146.0,0.0,26468.0,25908.0,0.0,144609.0,141232.0,0.0,140392.0,136679.0,0.0,658178.0
HIDALGO,18558.0,19407.0,0.0,26319.0,26979.0,0.0,138087.0,139775.0,1.0,128437.0,131957.0,0.0,629520.0
SINALOA,17548.0,18070.0,0.0,24995.0,25113.0,0.0,133567.0,134092.0,0.0,131991.0,131591.0,0.0,616967.0
SONORA,18367.0,18844.0,0.0,23999.0,23904.0,0.0,130364.0,128682.0,0.0,129279.0,125937.0,0.0,599376.0
SAN LUIS POTOSI,16791.0,16771.0,0.0,23517.0,24166.0,0.0,128263.0,130262.0,0.0,123455.0,125595.0,0.0,588820.0
QUERETARO,15359.0,15678.0,0.0,20636.0,20871.0,0.0,111130.0,110677.0,1.0,114544.0,111676.0,0.0,520572.0
TABASCO,16190.0,16087.0,0.0,21052.0,21271.0,0.0,105700.0,106990.0,1.0,96707.0,100768.0,0.0,484766.0
YUCATAN,13984.0,14536.0,0.0,18741.0,18879.0,0.0,100248.0,99562.0,0.0,99104.0,97122.0,0.0,462176.0
QUINTANA ROO,11578.0,11709.0,0.0,15510.0,15238.0,0.0,85076.0,83408.0,0.0,98011.0,93727.0,0.0,414257.0
MORELOS,11127.0,11339.0,0.0,16110.0,16265.0,0.0,85454.0,86487.0,0.0,84721.0,86980.0,0.0,398483.0
DURANGO,10981.0,10827.0,0.0,15022.0,15045.0,0.0,81949.0,82212.0,0.0,80637.0,79898.0,0.0,376571.0
ZACATECAS,9115.0,9464.0,0.0,12996.0,13495.0,0.0,69720.0,71822.0,0.0,68380.0,70187.0,0.0,325179.0
AGUASCALIENTES,10403.0,10673.0,0.0,12864.0,13062.0,0.0,69561.0,69046.0,2.0,66424.0,66262.0,0.0,318297.0
TLAXCALA,9063.0,8918.0,0.0,12308.0,12304.0,0.0,65816.0,65455.0,1.0,61644.0,62125.0,0.0,297634.0
NAYARIT,7000.0,7094.0,0.0,9946.0,9832.0,0.0,52171.0,52663.0,0.0,51985.0,51001.0,3.0,241695.0
CAMPECHE,5627.0,5570.0,0.0,7561.0,7430.0,0.0,39053.0,39055.0,0.0,39339.0,39342.0,0.0,182977.0
BAJA CALIFORNIA SUR,4610.0,4468.0,0.0,6980.0,6405.0,0.0,36351.0,33952.0,0.0,36892.0,34099.0,0.0,163757.0
COLIMA,4486.0,4404.0,0.0,6072.0,6046.0,0.0,31437.0,31109.0,0.0,31235.0,31051.0,0.0,145840.0
RESIDENTES EXTRANJERO,914.0,712.0,0.0,2223.0,1571.0,0.0,19864.0,15526.0,0.0,35823.0,25575.0,0.0,102208.0

Agrupamos por variable suma total

In [608]:
resultado_agrupado = resultado_agrupado['suma_total']

In [610]:
resultado_agrupado

NOMBRE\nENTIDAD
MEXICO                             3530686.0
CIUDAD DE MEXICO                   1768448.0
JALISCO                            1750589.0
VERACRUZ DE IGNACIO DE LA LLAVE    1516485.0
PUEBLA                             1427606.0
GUANAJUATO                         1341632.0
CHIAPAS                            1215302.0
NUEVO LEON                         1189865.0
MICHOACAN  DE OCAMPO                969202.0
BAJA CALIFORNIA                     844141.0
OAXACA                              820623.0
CHIHUAHUA                           815081.0
GUERRERO                            745108.0
TAMAULIPAS                          720246.0
COAHUILA DE ZARAGOZA                658178.0
HIDALGO                             629520.0
SINALOA                             616967.0
SONORA                              599376.0
SAN LUIS POTOSI                     588820.0
QUERETARO                           520572.0
TABASCO                             484766.0
YUCATAN                             462176.0
QUINTANA ROO                        414257.0
MORELOS                             398483.0
DURANGO                             376571.0
ZACATECAS                           325179.0
AGUASCALIENTES                      318297.0
TLAXCALA                            297634.0
NAYARIT                             241695.0
CAMPECHE                            182977.0
BAJA CALIFORNIA SUR                 163757.0
COLIMA                              145840.0
RESIDENTES EXTRANJERO               102208.0
Name: suma_total, dtype: float64

## Distribución Demográfica por municipio de Ciudadanos de 18 a 29 Años en Orden Descendente

Filtrar columnas a utilizar

In [501]:
print(nombres_columnas)

Index(['CLAVE\nENTIDAD', 'NOMBRE\nENTIDAD', 'CLAVE\nDISTRITO',
       'NOMBRE\nDISTRITO', 'CLAVE\nMUNICIPIO', 'NOMBRE\nMUNICIPIO', 'SECCION',
       'PADRON\nHOMBRES', 'PADRON\nMUJERES', 'PADRON\nNO BINARIO',
       'PADRON\nELECTORAL', 'LISTA\nHOMBRES', 'LISTA\nMUJERES',
       'LISTA\nNO BINARIO', 'LISTA\nNOMINAL', 'PADRON_18_HOMBRES',
       'PADRON_18_MUJERES', 'PADRON_18_NOBINARIO', 'PADRON_19_HOMBRES',
       'PADRON_19_MUJERES', 'PADRON_19_NOBINARIO', 'PADRON_20_24_HOMBRES',
       'PADRON_20_24_MUJERES', 'PADRON_20_24_NOBINARIO',
       'PADRON_25_29_HOMBRES', 'PADRON_25_29_MUJERES',
       'PADRON_25_29_NOBINARIO', 'PADRON_30_34_HOMBRES',
       'PADRON_30_34_MUJERES', 'PADRON_30_34_NOBINARIO',
       'PADRON_35_39_HOMBRES', 'PADRON_35_39_MUJERES',
       'PADRON_35_39_NOBINARIO', 'PADRON_40_44_HOMBRES',
       'PADRON_40_44_MUJERES', 'PADRON_40_44_NOBINARIO',
       'PADRON_45_49_HOMBRES', 'PADRON_45_49_MUJERES',
       'PADRON_45_49_NOBINARIO', 'PADRON_50_54_HOMBRES',
       'PADRON_50_54_MUJERES', 'PADRON_50_54_NOBINARIO',
       'PADRON_55_59_HOMBRES', 'PADRON_55_59_MUJERES',
       'PADRON_55_59_NOBINARIO', 'PADRON_60_64_HOMBRES',
       'PADRON_60_64_MUJERES', 'PADRON_60_64_NOBINARIO',
       'PADRON_65_Y_MAS_HOMBRES', 'PADRON_65_Y_MAS_MUJERES',
       'PADRON_65_Y_MAS_NOBINARIO', 'LISTA_18_HOMBRES', 'LISTA_18_MUJERES',
       'LISTA_18_NOBINARIO', 'LISTA_19_HOMBRES', 'LISTA_19_MUJERES',
       'LISTA_19_NOBINARIO', 'LISTA_20_24_HOMBRES', 'LISTA_20_24_MUJERES',
       'LISTA_20_24_NOBINARIO', 'LISTA_25_29_HOMBRES', 'LISTA_25_29_MUJERES',
       'LISTA_25_29_NOBINARIO', 'LISTA_30_34_HOMBRES', 'LISTA_30_34_MUJERES',
       'LISTA_30_34_NOBINARIO', 'LISTA_35_39_HOMBRES', 'LISTA_35_39_MUJERES',
       'LISTA_35_39_NOBINARIO', 'LISTA_40_44_HOMBRES', 'LISTA_40_44_MUJERES',
       'LISTA_40_44_NOBINARIO', 'LISTA_45_49_HOMBRES', 'LISTA_45_49_MUJERES',
       'LISTA_45_49_NOBINARIO', 'LISTA_50_54_HOMBRES', 'LISTA_50_54_MUJERES',
       'LISTA_50_54_NOBINARIO', 'LISTA_55_59_HOMBRES', 'LISTA_55_59_MUJERES',
       'LISTA_55_59_NOBINARIO', 'LISTA_60_64_HOMBRES', 'LISTA_60_64_MUJERES',
       'LISTA_60_64_NOBINARIO', 'LISTA_65_Y_MAS_HOMBRES',
       'LISTA_65_Y_MAS_MUJERES', 'LISTA_65_Y_MAS_NOBINARIO'],
      dtype='object')

Agrupamos las columnas que nos interesan

In [611]:
dfb = df.iloc[:, [5] + list(range(15, 27))]

Describimos brevemente

In [612]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70784 entries, 0 to 70783
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NOMBRE
MUNICIPIO        70783 non-null  object
 1   PADRON_18_HOMBRES       70783 non-null  float64
 2   PADRON_18_MUJERES       70783 non-null  float64
 3   PADRON_18_NOBINARIO     70783 non-null  float64
 4   PADRON_19_HOMBRES       70783 non-null  float64
 5   PADRON_19_MUJERES       70783 non-null  float64
 6   PADRON_19_NOBINARIO     70783 non-null  float64
 7   PADRON_20_24_HOMBRES    70783 non-null  float64
 8   PADRON_20_24_MUJERES    70783 non-null  float64
 9   PADRON_20_24_NOBINARIO  70783 non-null  float64
 10  PADRON_25_29_HOMBRES    70783 non-null  float64
 11  PADRON_25_29_MUJERES    70783 non-null  float64
 12  PADRON_25_29_NOBINARIO  70783 non-null  float64
dtypes: float64(12), object(1)
memory usage: 7.0+ MB

In [613]:
dfb.head()

,NOMBRE\nMUNICIPIO,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO
0,0,16.0,9.0,0.0,29.0,18.0,0.0,258.0,163.0,0.0,527.0,272.0,0.0
1,ASIENTOS,10.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,129.0,0.0
2,ASIENTOS,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0
3,ASIENTOS,15.0,13.0,0.0,23.0,29.0,0.0,134.0,157.0,0.0,122.0,131.0,0.0
4,ASIENTOS,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0

Vamos a sumar

In [624]:
#dfb['suma_total'] = dfb.iloc[:, 4].sum()
dfb['suma_total'] = dfb.iloc[:, 1:27].sum(axis=1)

/tmp/ipykernel_25898/708571672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb['suma_total'] = dfb.iloc[:, 1:27].sum(axis=1)

In [625]:
dfb

,NOMBRE\nMUNICIPIO,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO,suma_total
0,0,16.0,9.0,0.0,29.0,18.0,0.0,258.0,163.0,0.0,527.0,272.0,0.0,3876.0
1,ASIENTOS,10.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,129.0,0.0,1818.0
2,ASIENTOS,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0,1710.0
3,ASIENTOS,15.0,13.0,0.0,23.0,29.0,0.0,134.0,157.0,0.0,122.0,131.0,0.0,1872.0
4,ASIENTOS,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0,2295.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70779,TRANCOSO,15.0,14.0,0.0,17.0,21.0,0.0,99.0,115.0,0.0,103.0,109.0,0.0,1479.0
70780,TRANCOSO,8.0,12.0,0.0,10.0,13.0,0.0,69.0,80.0,0.0,70.0,60.0,0.0,966.0
70781,TRANCOSO,10.0,11.0,0.0,16.0,13.0,0.0,76.0,72.0,0.0,85.0,77.0,0.0,1080.0
70782,TRANCOSO,0.0,1.0,0.0,2.0,4.0,0.0,8.0,9.0,0.0,7.0,9.0,0.0,120.0
70783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Renombramos la columna suma_total

In [630]:
resultado_agrupado1 = dfb.groupby('NOMBRE\nMUNICIPIO' ).sum().sort_values(by='suma_total')

In [631]:
resultado_agrupado1

,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO,suma_total
NOMBRE MUNICIPIO,,,,,,,,,,,,,
SANTA MAGDALENA JICOTLAN,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,3.0,1.0,0.0,24.0
SANTIAGO TEPETLAPA,1.0,1.0,0.0,3.0,0.0,0.0,1.0,7.0,0.0,3.0,1.0,0.0,51.0
SANTIAGO NEJAPILLA,1.0,0.0,0.0,0.0,1.0,0.0,8.0,2.0,0.0,2.0,4.0,0.0,54.0
SANTO DOMINGO TLATAYAPAM,1.0,0.0,0.0,1.0,3.0,0.0,4.0,2.0,0.0,6.0,6.0,0.0,69.0
SANTA MARIA TATALTEPEC,2.0,1.0,0.0,0.0,2.0,0.0,10.0,4.0,0.0,4.0,6.0,0.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
LEON,10853.0,11163.0,0.0,14748.0,14861.0,1.0,79239.0,79157.0,0.0,77648.0,76438.0,0.0,1092324.0
PUEBLA,10827.0,10643.0,0.0,14457.0,14575.0,0.0,79185.0,79044.0,0.0,79163.0,79052.0,0.0,1100838.0
IZTAPALAPA,10327.0,10370.0,0.0,14821.0,14624.0,0.0,79964.0,79395.0,0.0,82232.0,82114.0,1.0,1121544.0
TIJUANA,12237.0,12169.0,0.0,16841.0,16185.0,0.0,95303.0,90604.0,1.0,103662.0,97020.0,0.0,1332066.0
JUAREZ,14996.0,14705.0,0.0,19040.0,18570.0,0.0,100160.0,96272.0,1.0,96931.0,91906.0,0.0,1357743.0

Realizamos la agrupacion por municipio

In [634]:
resultado_agrupado1 = dfb.groupby(dfb.columns[0]).sum().sort_values(by='suma_total', ascending=False)

In [635]:
resultado_agrupado1

,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO,suma_total
NOMBRE MUNICIPIO,,,,,,,,,,,,,
JUAREZ,14996.0,14705.0,0.0,19040.0,18570.0,0.0,100160.0,96272.0,1.0,96931.0,91906.0,0.0,1357743.0
TIJUANA,12237.0,12169.0,0.0,16841.0,16185.0,0.0,95303.0,90604.0,1.0,103662.0,97020.0,0.0,1332066.0
IZTAPALAPA,10327.0,10370.0,0.0,14821.0,14624.0,0.0,79964.0,79395.0,0.0,82232.0,82114.0,1.0,1121544.0
PUEBLA,10827.0,10643.0,0.0,14457.0,14575.0,0.0,79185.0,79044.0,0.0,79163.0,79052.0,0.0,1100838.0
LEON,10853.0,11163.0,0.0,14748.0,14861.0,1.0,79239.0,79157.0,0.0,77648.0,76438.0,0.0,1092324.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
SANTA MARIA TATALTEPEC,2.0,1.0,0.0,0.0,2.0,0.0,10.0,4.0,0.0,4.0,6.0,0.0,87.0
SANTO DOMINGO TLATAYAPAM,1.0,0.0,0.0,1.0,3.0,0.0,4.0,2.0,0.0,6.0,6.0,0.0,69.0
SANTIAGO NEJAPILLA,1.0,0.0,0.0,0.0,1.0,0.0,8.0,2.0,0.0,2.0,4.0,0.0,54.0
SANTIAGO TEPETLAPA,1.0,1.0,0.0,3.0,0.0,0.0,1.0,7.0,0.0,3.0,1.0,0.0,51.0
SANTA MAGDALENA JICOTLAN,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,3.0,1.0,0.0,24.0

In [636]:
resultado_agrupado1 = resultado_agrupado1['suma_total']

In [637]:
resultado_agrupado1

NOMBRE\nMUNICIPIO
JUAREZ                      1357743.0
TIJUANA                     1332066.0
IZTAPALAPA                  1121544.0
PUEBLA                      1100838.0
LEON                        1092324.0
                              ...
SANTA MARIA TATALTEPEC           87.0
SANTO DOMINGO TLATAYAPAM         69.0
SANTIAGO NEJAPILLA               54.0
SANTIAGO TEPETLAPA               51.0
SANTA MAGDALENA JICOTLAN         24.0
Name: suma_total, Length: 2333, dtype: float64