## Distribución Demográfica por estado de Ciudadanos de 18 a 29 Años en Orden Descendente

 Importamos librerias

In [597]:
import pandas as pd
import numpy as np

Importamos los datos

In [596]:
df = pd.read_excel('../data/ine.xlsx', header=0 )

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x76ff5c38ab90>>
Traceback (most recent call last):
  File "/home/hernan/Escritorio/INEJUVENTUD/env/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

Informacion general de dataframe

In [598]:
df.head()

,CLAVE\nENTIDAD,NOMBRE\nENTIDAD,CLAVE\nDISTRITO,NOMBRE\nDISTRITO,CLAVE\nMUNICIPIO,NOMBRE\nMUNICIPIO,SECCION,PADRON\nHOMBRES,PADRON\nMUJERES,PADRON\nNO BINARIO,...,LISTA_50_54_NOBINARIO,LISTA_55_59_HOMBRES,LISTA_55_59_MUJERES,LISTA_55_59_NOBINARIO,LISTA_60_64_HOMBRES,LISTA_60_64_MUJERES,LISTA_60_64_NOBINARIO,LISTA_65_Y_MAS_HOMBRES,LISTA_65_Y_MAS_MUJERES,LISTA_65_Y_MAS_NOBINARIO
0,1,RESIDENTES EXTRANJERO,0.0,0,0.0,0,0.0,8444,5756,0,...,0.0,355.0,234.0,0.0,180.0,149.0,0.0,206.0,139.0,0.0
1,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,338.0,973,1013,0,...,0.0,56.0,72.0,0.0,39.0,37.0,0.0,88.0,109.0,0.0
2,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,339.0,895,954,0,...,0.0,55.0,60.0,0.0,38.0,43.0,0.0,88.0,97.0,0.0
3,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,340.0,951,1001,0,...,0.0,56.0,66.0,0.0,46.0,48.0,0.0,103.0,83.0,0.0
4,1,AGUASCALIENTES,1.0,JESUS MARIA ...,2.0,ASIENTOS,341.0,1174,1184,0,...,0.0,59.0,60.0,0.0,50.0,62.0,0.0,110.0,105.0,0.0

In [599]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70784 entries, 0 to 70783
Data columns (total 87 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CLAVE
ENTIDAD              70784 non-null  object
 1   NOMBRE
ENTIDAD             70783 non-null  object
 2   CLAVE
DISTRITO             70783 non-null  float64
 3   NOMBRE
DISTRITO            70783 non-null  object
 4   CLAVE
MUNICIPIO            70783 non-null  float64
 5   NOMBRE
MUNICIPIO           70783 non-null  object
 6   SECCION                    70783 non-null  float64
 7   PADRON
HOMBRES             70784 non-null  int64
 8   PADRON
MUJERES             70784 non-null  int64
 9   PADRON
NO BINARIO          70784 non-null  int64
 10  PADRON
ELECTORAL           70784 non-null  int64
 11  LISTA
HOMBRES              70784 non-null  int64
 12  LISTA
MUJERES              70784 non-null  int64
 13  LISTA
NO BINARIO           70784 non-null  int64
 14  LISTA
NOMINAL              70784 non-null  int64
 15  PADRON_18_HOMBRES          70783 non-null  float64
 16  PADRON_18_MUJERES          70783 non-null  float64
 17  PADRON_18_NOBINARIO        70783 non-null  float64
 18  PADRON_19_HOMBRES          70783 non-null  float64
 19  PADRON_19_MUJERES          70783 non-null  float64
 20  PADRON_19_NOBINARIO        70783 non-null  float64
 21  PADRON_20_24_HOMBRES       70783 non-null  float64
 22  PADRON_20_24_MUJERES       70783 non-null  float64
 23  PADRON_20_24_NOBINARIO     70783 non-null  float64
 24  PADRON_25_29_HOMBRES       70783 non-null  float64
 25  PADRON_25_29_MUJERES       70783 non-null  float64
 26  PADRON_25_29_NOBINARIO     70783 non-null  float64
 27  PADRON_30_34_HOMBRES       70783 non-null  float64
 28  PADRON_30_34_MUJERES       70783 non-null  float64
 29  PADRON_30_34_NOBINARIO     70783 non-null  float64
 30  PADRON_35_39_HOMBRES       70783 non-null  float64
 31  PADRON_35_39_MUJERES       70783 non-null  float64
 32  PADRON_35_39_NOBINARIO     70783 non-null  float64
 33  PADRON_40_44_HOMBRES       70783 non-null  float64
 34  PADRON_40_44_MUJERES       70783 non-null  float64
 35  PADRON_40_44_NOBINARIO     70783 non-null  float64
 36  PADRON_45_49_HOMBRES       70783 non-null  float64
 37  PADRON_45_49_MUJERES       70783 non-null  float64
 38  PADRON_45_49_NOBINARIO     70783 non-null  float64
 39  PADRON_50_54_HOMBRES       70783 non-null  float64
 40  PADRON_50_54_MUJERES       70783 non-null  float64
 41  PADRON_50_54_NOBINARIO     70783 non-null  float64
 42  PADRON_55_59_HOMBRES       70783 non-null  float64
 43  PADRON_55_59_MUJERES       70783 non-null  float64
 44  PADRON_55_59_NOBINARIO     70783 non-null  float64
 45  PADRON_60_64_HOMBRES       70783 non-null  float64
 46  PADRON_60_64_MUJERES       70783 non-null  float64
 47  PADRON_60_64_NOBINARIO     70783 non-null  float64
 48  PADRON_65_Y_MAS_HOMBRES    70783 non-null  float64
 49  PADRON_65_Y_MAS_MUJERES    70783 non-null  float64
 50  PADRON_65_Y_MAS_NOBINARIO  70783 non-null  float64
 51  LISTA_18_HOMBRES           70783 non-null  float64
 52  LISTA_18_MUJERES           70783 non-null  float64
 53  LISTA_18_NOBINARIO         70783 non-null  float64
 54  LISTA_19_HOMBRES           70783 non-null  float64
 55  LISTA_19_MUJERES           70783 non-null  float64
 56  LISTA_19_NOBINARIO         70783 non-null  float64
 57  LISTA_20_24_HOMBRES        70783 non-null  float64
 58  LISTA_20_24_MUJERES        70783 non-null  float64
 59  LISTA_20_24_NOBINARIO      70783 non-null  float64
 60  LISTA_25_29_HOMBRES        70783 non-null  float64
 61  LISTA_25_29_MUJERES        70783 non-null  float64
 62  LISTA_25_29_NOBINARIO      70783 non-null  float64
 63  LISTA_30_34_HOMBRES        70783 non-null  float64
 64  LISTA_30_34_MUJERES        70783 non-null  float64
 65  LISTA_30_34_NOBINARIO      70783 non-null  float64
 66  LISTA_35_39_HOMBRES        70783 non-null  float64
 67  LISTA_35_39_MUJERES        70783 non-null  float64
 68  LISTA_35_39_NOBINARIO      70783 non-null  float64
 69  LISTA_40_44_HOMBRES        70783 non-null  float64
 70  LISTA_40_44_MUJERES        70783 non-null  float64
 71  LISTA_40_44_NOBINARIO      70783 non-null  float64
 72  LISTA_45_49_HOMBRES        70783 non-null  float64
 73  LISTA_45_49_MUJERES        70783 non-null  float64
 74  LISTA_45_49_NOBINARIO      70783 non-null  float64
 75  LISTA_50_54_HOMBRES        70783 non-null  float64
 76  LISTA_50_54_MUJERES        70783 non-null  float64
 77  LISTA_50_54_NOBINARIO      70783 non-null  float64
 78  LISTA_55_59_HOMBRES        70783 non-null  float64
 79  LISTA_55_59_MUJERES        70783 non-null  float64
 80  LISTA_55_59_NOBINARIO      70783 non-null  float64
 81  LISTA_60_64_HOMBRES        70783 non-null  float64
 82  LISTA_60_64_MUJERES        70783 non-null  float64
 83  LISTA_60_64_NOBINARIO      70783 non-null  float64
 84  LISTA_65_Y_MAS_HOMBRES     70783 non-null  float64
 85  LISTA_65_Y_MAS_MUJERES     70783 non-null  float64
 86  LISTA_65_Y_MAS_NOBINARIO   70783 non-null  float64
dtypes: float64(75), int64(8), object(4)
memory usage: 47.0+ MB

In [600]:
df.describe()

,CLAVE\nDISTRITO,CLAVE\nMUNICIPIO,SECCION,PADRON\nHOMBRES,PADRON\nMUJERES,PADRON\nNO BINARIO,PADRON\nELECTORAL,LISTA\nHOMBRES,LISTA\nMUJERES,LISTA\nNO BINARIO,...,LISTA_50_54_NOBINARIO,LISTA_55_59_HOMBRES,LISTA_55_59_MUJERES,LISTA_55_59_NOBINARIO,LISTA_60_64_HOMBRES,LISTA_60_64_MUJERES,LISTA_60_64_NOBINARIO,LISTA_65_Y_MAS_HOMBRES,LISTA_65_Y_MAS_MUJERES,LISTA_65_Y_MAS_NOBINARIO
count,70783.000000,70783.000000,70783.000000,7.078400e+04,7.078400e+04,70784.000000,7.078400e+04,7.078400e+04,7.078400e+04,70784.000000,...,70783.0,70783.000000,70783.000000,70783.000000,70783.000000,70783.000000,70783.0,70783.000000,70783.000000,70783.0
mean,7.445502,48.578769,1657.279107,1.361149e+03,1.465279e+03,0.002967,2.826431e+03,1.346185e+03,1.453433e+03,0.002967,...,0.0,46.260416,52.180382,0.000014,38.438100,44.016784,0.0,82.960965,100.763686,0.0
std,7.020501,66.219521,1396.494520,1.810686e+05,1.949198e+05,0.396525,3.759887e+05,1.790768e+05,1.933434e+05,0.396525,...,0.0,57.046521,57.227144,0.003759,40.640032,41.223112,0.0,60.933793,70.292534,0.0
min,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0
25%,3.000000,10.000000,580.000000,3.307500e+02,3.540000e+02,0.000000,6.860000e+02,3.300000e+02,3.530000e+02,0.000000,...,0.0,23.000000,25.000000,0.000000,19.000000,21.000000,0.0,45.000000,52.000000,0.0
50%,5.000000,30.000000,1301.000000,5.330000e+02,5.810000e+02,0.000000,1.114000e+03,5.320000e+02,5.800000e+02,0.000000,...,0.0,37.000000,42.000000,0.000000,32.000000,37.000000,0.0,75.000000,92.000000,0.0
75%,10.000000,59.000000,2346.000000,8.230000e+02,8.970000e+02,0.000000,1.719000e+03,8.220000e+02,8.960000e+02,0.000000,...,0.0,56.000000,64.000000,0.000000,48.000000,56.000000,0.0,108.000000,133.000000,0.0
max,40.000000,570.000000,6922.000000,4.817380e+07,5.185914e+07,105.000000,1.000330e+08,4.764416e+07,5.143992e+07,105.000000,...,0.0,5053.000000,4392.000000,1.000000,3295.000000,2498.000000,0.0,4134.000000,3065.000000,0.0

Nombre de todas las comunas que tiene el dataframe

In [2]:
nombres_columnas = df.columns
print(nombres_columnas)

NameError: name 'df' is not defined

Filtrar columnas a utilizar|

In [644]:
dfa = df.iloc[:, [1] + list(range(51, 63))]

In [645]:
dfa.head()

,NOMBRE\nENTIDAD,LISTA_18_HOMBRES,LISTA_18_MUJERES,LISTA_18_NOBINARIO,LISTA_19_HOMBRES,LISTA_19_MUJERES,LISTA_19_NOBINARIO,LISTA_20_24_HOMBRES,LISTA_20_24_MUJERES,LISTA_20_24_NOBINARIO,LISTA_25_29_HOMBRES,LISTA_25_29_MUJERES,LISTA_25_29_NOBINARIO
0,RESIDENTES EXTRANJERO,5.0,6.0,0.0,11.0,13.0,0.0,90.0,67.0,0.0,166.0,122.0,0.0
1,AGUASCALIENTES,9.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,128.0,0.0
2,AGUASCALIENTES,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0
3,AGUASCALIENTES,15.0,13.0,0.0,23.0,29.0,0.0,134.0,155.0,0.0,122.0,131.0,0.0
4,AGUASCALIENTES,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0

Vamos a sumar la culumna PADRON_18_HOMBRES + PADRON_18_MUJERES + PADRON_18_NOBINARIO

In [646]:
dfa['suma_total'] = dfa.iloc[:, 1:27].sum(axis=1)

/tmp/ipykernel_25898/725086499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa['suma_total'] = dfa.iloc[:, 1:27].sum(axis=1)

In [647]:
dfa.head()

,NOMBRE\nENTIDAD,LISTA_18_HOMBRES,LISTA_18_MUJERES,LISTA_18_NOBINARIO,LISTA_19_HOMBRES,LISTA_19_MUJERES,LISTA_19_NOBINARIO,LISTA_20_24_HOMBRES,LISTA_20_24_MUJERES,LISTA_20_24_NOBINARIO,LISTA_25_29_HOMBRES,LISTA_25_29_MUJERES,LISTA_25_29_NOBINARIO,suma_total
0,RESIDENTES EXTRANJERO,5.0,6.0,0.0,11.0,13.0,0.0,90.0,67.0,0.0,166.0,122.0,0.0,480.0
1,AGUASCALIENTES,9.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,128.0,0.0,604.0
2,AGUASCALIENTES,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0,570.0
3,AGUASCALIENTES,15.0,13.0,0.0,23.0,29.0,0.0,134.0,155.0,0.0,122.0,131.0,0.0,622.0
4,AGUASCALIENTES,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0,765.0

Realizamos la agrupacion por entidad

In [648]:
resultado_agrupado = dfa.groupby('NOMBRE\nENTIDAD').sum().sort_values(by='suma_total', ascending=False)

In [649]:
resultado_agrupado

,LISTA_18_HOMBRES,LISTA_18_MUJERES,LISTA_18_NOBINARIO,LISTA_19_HOMBRES,LISTA_19_MUJERES,LISTA_19_NOBINARIO,LISTA_20_24_HOMBRES,LISTA_20_24_MUJERES,LISTA_20_24_NOBINARIO,LISTA_25_29_HOMBRES,LISTA_25_29_MUJERES,LISTA_25_29_NOBINARIO,suma_total
NOMBRE ENTIDAD,,,,,,,,,,,,,
MEXICO,103727.0,104043.0,0.0,144098.0,144607.0,2.0,777209.0,775574.0,0.0,737973.0,738374.0,1.0,3525608.0
CIUDAD DE MEXICO,50882.0,50698.0,3.0,68695.0,67725.0,1.0,373270.0,369739.0,8.0,392562.0,392057.0,11.0,1765651.0
JALISCO,49847.0,50153.0,2.0,69667.0,70115.0,2.0,380873.0,379709.0,11.0,376774.0,370334.0,4.0,1747491.0
VERACRUZ DE IGNACIO DE LA LLAVE,42345.0,43151.0,0.0,60913.0,61405.0,1.0,334066.0,338363.0,1.0,311392.0,322952.0,0.0,1514589.0
PUEBLA,36323.0,37747.0,0.0,55290.0,57505.0,0.0,309299.0,319614.0,1.0,299414.0,310169.0,0.0,1425362.0
GUANAJUATO,36631.0,37834.0,0.0,52248.0,54224.0,1.0,288271.0,294221.0,0.0,286632.0,289440.0,1.0,1339503.0
CHIAPAS,27546.0,28787.0,0.0,46532.0,49328.0,0.0,266010.0,277082.0,0.0,253309.0,265008.0,0.0,1213602.0
NUEVO LEON,35689.0,34946.0,0.0,47200.0,45794.0,2.0,260886.0,251209.0,2.0,263624.0,248231.0,0.0,1187583.0
MICHOACAN DE OCAMPO,23668.0,24066.0,0.0,36720.0,37864.0,0.0,206785.0,212296.0,0.0,211258.0,214958.0,0.0,967615.0
BAJA CALIFORNIA,23791.0,23749.0,0.0,32654.0,31459.0,0.0,180566.0,173606.0,2.0,194080.0,183098.0,1.0,843006.0
OAXACA,19752.0,21043.0,0.0,31581.0,33539.0,0.0,172901.0,181983.0,0.0,172995.0,185474.0,0.0,819268.0
CHIHUAHUA,25024.0,25791.0,0.0,32446.0,32690.0,0.0,176311.0,174118.0,2.0,174736.0,171844.0,4.0,812966.0
GUERRERO,16170.0,17724.0,0.0,27684.0,29956.0,0.0,158435.0,167761.0,0.0,158978.0,166485.0,0.0,743193.0
TAMAULIPAS,22405.0,22500.0,0.0,29035.0,28911.0,0.0,156491.0,154381.0,1.0,154647.0,150766.0,1.0,719138.0
COAHUILA DE ZARAGOZA,21660.0,21085.0,0.0,26375.0,25850.0,0.0,144235.0,140980.0,0.0,140058.0,136424.0,0.0,656667.0
HIDALGO,18496.0,19369.0,0.0,26257.0,26933.0,0.0,137845.0,139625.0,1.0,128209.0,131763.0,0.0,628498.0
SINALOA,17455.0,18015.0,0.0,24911.0,25057.0,0.0,133307.0,133885.0,0.0,131687.0,131383.0,0.0,615700.0
SONORA,18285.0,18770.0,0.0,23931.0,23855.0,0.0,130030.0,128445.0,0.0,128938.0,125697.0,0.0,597951.0
SAN LUIS POTOSI,16733.0,16706.0,0.0,23454.0,24124.0,0.0,128070.0,130107.0,0.0,123266.0,125419.0,0.0,587879.0
QUERETARO,15319.0,15653.0,0.0,20596.0,20839.0,0.0,110941.0,110547.0,1.0,114359.0,111548.0,0.0,519803.0
TABASCO,16159.0,16066.0,0.0,21014.0,21252.0,0.0,105556.0,106888.0,1.0,96548.0,100670.0,0.0,484154.0
YUCATAN,13958.0,14522.0,0.0,18718.0,18861.0,0.0,100134.0,99486.0,0.0,98959.0,97028.0,0.0,461666.0
QUINTANA ROO,11544.0,11672.0,0.0,15471.0,15196.0,0.0,84895.0,83246.0,0.0,97790.0,93537.0,0.0,413351.0
MORELOS,11089.0,11321.0,0.0,16060.0,16247.0,0.0,85312.0,86380.0,0.0,84599.0,86858.0,0.0,397866.0
DURANGO,10916.0,10764.0,0.0,14943.0,14987.0,0.0,81744.0,82048.0,0.0,80411.0,79731.0,0.0,375544.0
ZACATECAS,9066.0,9428.0,0.0,12934.0,13457.0,0.0,69555.0,71678.0,0.0,68211.0,70035.0,0.0,324364.0
AGUASCALIENTES,10375.0,10650.0,0.0,12829.0,13040.0,0.0,69434.0,68936.0,2.0,66303.0,66157.0,0.0,317726.0
TLAXCALA,9049.0,8905.0,0.0,12292.0,12291.0,0.0,65715.0,65398.0,1.0,61548.0,62076.0,0.0,297275.0
NAYARIT,6965.0,7067.0,0.0,9907.0,9800.0,0.0,52052.0,52587.0,0.0,51817.0,50894.0,3.0,241092.0
CAMPECHE,5619.0,5556.0,0.0,7548.0,7424.0,0.0,39001.0,39019.0,0.0,39276.0,39298.0,0.0,182741.0
BAJA CALIFORNIA SUR,4591.0,4459.0,0.0,6962.0,6391.0,0.0,36293.0,33909.0,0.0,36842.0,34057.0,0.0,163504.0
COLIMA,4476.0,4399.0,0.0,6058.0,6035.0,0.0,31384.0,31061.0,0.0,31173.0,30996.0,0.0,145582.0
RESIDENTES EXTRANJERO,401.0,374.0,0.0,1034.0,824.0,0.0,7249.0,6528.0,0.0,13112.0,10897.0,0.0,40419.0

Agrupamos por variable suma total

In [650]:
resultado_agrupado = resultado_agrupado['suma_total']

In [651]:
resultado_agrupado

NOMBRE\nENTIDAD
MEXICO                             3525608.0
CIUDAD DE MEXICO                   1765651.0
JALISCO                            1747491.0
VERACRUZ DE IGNACIO DE LA LLAVE    1514589.0
PUEBLA                             1425362.0
GUANAJUATO                         1339503.0
CHIAPAS                            1213602.0
NUEVO LEON                         1187583.0
MICHOACAN  DE OCAMPO                967615.0
BAJA CALIFORNIA                     843006.0
OAXACA                              819268.0
CHIHUAHUA                           812966.0
GUERRERO                            743193.0
TAMAULIPAS                          719138.0
COAHUILA DE ZARAGOZA                656667.0
HIDALGO                             628498.0
SINALOA                             615700.0
SONORA                              597951.0
SAN LUIS POTOSI                     587879.0
QUERETARO                           519803.0
TABASCO                             484154.0
YUCATAN                             461666.0
QUINTANA ROO                        413351.0
MORELOS                             397866.0
DURANGO                             375544.0
ZACATECAS                           324364.0
AGUASCALIENTES                      317726.0
TLAXCALA                            297275.0
NAYARIT                             241092.0
CAMPECHE                            182741.0
BAJA CALIFORNIA SUR                 163504.0
COLIMA                              145582.0
RESIDENTES EXTRANJERO                40419.0
Name: suma_total, dtype: float64

## Distribución Demográfica por municipio de Ciudadanos de 18 a 29 Años en Orden Descendente

Filtrar columnas a utilizar

In [659]:
print(nombres_columnas)

Index(['CLAVE\nENTIDAD', 'NOMBRE\nENTIDAD', 'CLAVE\nDISTRITO',
       'NOMBRE\nDISTRITO', 'CLAVE\nMUNICIPIO', 'NOMBRE\nMUNICIPIO', 'SECCION',
       'PADRON\nHOMBRES', 'PADRON\nMUJERES', 'PADRON\nNO BINARIO',
       'PADRON\nELECTORAL', 'LISTA\nHOMBRES', 'LISTA\nMUJERES',
       'LISTA\nNO BINARIO', 'LISTA\nNOMINAL', 'PADRON_18_HOMBRES',
       'PADRON_18_MUJERES', 'PADRON_18_NOBINARIO', 'PADRON_19_HOMBRES',
       'PADRON_19_MUJERES', 'PADRON_19_NOBINARIO', 'PADRON_20_24_HOMBRES',
       'PADRON_20_24_MUJERES', 'PADRON_20_24_NOBINARIO',
       'PADRON_25_29_HOMBRES', 'PADRON_25_29_MUJERES',
       'PADRON_25_29_NOBINARIO', 'PADRON_30_34_HOMBRES',
       'PADRON_30_34_MUJERES', 'PADRON_30_34_NOBINARIO',
       'PADRON_35_39_HOMBRES', 'PADRON_35_39_MUJERES',
       'PADRON_35_39_NOBINARIO', 'PADRON_40_44_HOMBRES',
       'PADRON_40_44_MUJERES', 'PADRON_40_44_NOBINARIO',
       'PADRON_45_49_HOMBRES', 'PADRON_45_49_MUJERES',
       'PADRON_45_49_NOBINARIO', 'PADRON_50_54_HOMBRES',
       'PADRON_50_54_MUJERES', 'PADRON_50_54_NOBINARIO',
       'PADRON_55_59_HOMBRES', 'PADRON_55_59_MUJERES',
       'PADRON_55_59_NOBINARIO', 'PADRON_60_64_HOMBRES',
       'PADRON_60_64_MUJERES', 'PADRON_60_64_NOBINARIO',
       'PADRON_65_Y_MAS_HOMBRES', 'PADRON_65_Y_MAS_MUJERES',
       'PADRON_65_Y_MAS_NOBINARIO', 'LISTA_18_HOMBRES', 'LISTA_18_MUJERES',
       'LISTA_18_NOBINARIO', 'LISTA_19_HOMBRES', 'LISTA_19_MUJERES',
       'LISTA_19_NOBINARIO', 'LISTA_20_24_HOMBRES', 'LISTA_20_24_MUJERES',
       'LISTA_20_24_NOBINARIO', 'LISTA_25_29_HOMBRES', 'LISTA_25_29_MUJERES',
       'LISTA_25_29_NOBINARIO', 'LISTA_30_34_HOMBRES', 'LISTA_30_34_MUJERES',
       'LISTA_30_34_NOBINARIO', 'LISTA_35_39_HOMBRES', 'LISTA_35_39_MUJERES',
       'LISTA_35_39_NOBINARIO', 'LISTA_40_44_HOMBRES', 'LISTA_40_44_MUJERES',
       'LISTA_40_44_NOBINARIO', 'LISTA_45_49_HOMBRES', 'LISTA_45_49_MUJERES',
       'LISTA_45_49_NOBINARIO', 'LISTA_50_54_HOMBRES', 'LISTA_50_54_MUJERES',
       'LISTA_50_54_NOBINARIO', 'LISTA_55_59_HOMBRES', 'LISTA_55_59_MUJERES',
       'LISTA_55_59_NOBINARIO', 'LISTA_60_64_HOMBRES', 'LISTA_60_64_MUJERES',
       'LISTA_60_64_NOBINARIO', 'LISTA_65_Y_MAS_HOMBRES',
       'LISTA_65_Y_MAS_MUJERES', 'LISTA_65_Y_MAS_NOBINARIO'],
      dtype='object')

Agrupamos las columnas que nos interesan

In [661]:
#dfb = df.iloc[:, [5] + list(range(15, 27))]
dfb = df.iloc[:, [5] + list(range(51, 63))]

Describimos brevemente

In [662]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70784 entries, 0 to 70783
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   NOMBRE
MUNICIPIO       70783 non-null  object
 1   LISTA_18_HOMBRES       70783 non-null  float64
 2   LISTA_18_MUJERES       70783 non-null  float64
 3   LISTA_18_NOBINARIO     70783 non-null  float64
 4   LISTA_19_HOMBRES       70783 non-null  float64
 5   LISTA_19_MUJERES       70783 non-null  float64
 6   LISTA_19_NOBINARIO     70783 non-null  float64
 7   LISTA_20_24_HOMBRES    70783 non-null  float64
 8   LISTA_20_24_MUJERES    70783 non-null  float64
 9   LISTA_20_24_NOBINARIO  70783 non-null  float64
 10  LISTA_25_29_HOMBRES    70783 non-null  float64
 11  LISTA_25_29_MUJERES    70783 non-null  float64
 12  LISTA_25_29_NOBINARIO  70783 non-null  float64
dtypes: float64(12), object(1)
memory usage: 7.0+ MB

In [663]:
dfb.head()

,NOMBRE\nMUNICIPIO,LISTA_18_HOMBRES,LISTA_18_MUJERES,LISTA_18_NOBINARIO,LISTA_19_HOMBRES,LISTA_19_MUJERES,LISTA_19_NOBINARIO,LISTA_20_24_HOMBRES,LISTA_20_24_MUJERES,LISTA_20_24_NOBINARIO,LISTA_25_29_HOMBRES,LISTA_25_29_MUJERES,LISTA_25_29_NOBINARIO
0,0,5.0,6.0,0.0,11.0,13.0,0.0,90.0,67.0,0.0,166.0,122.0,0.0
1,ASIENTOS,9.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,128.0,0.0
2,ASIENTOS,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0
3,ASIENTOS,15.0,13.0,0.0,23.0,29.0,0.0,134.0,155.0,0.0,122.0,131.0,0.0
4,ASIENTOS,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0

Vamos a sumar

In [664]:
#dfb['suma_total'] = dfb.iloc[:, 4].sum()
dfb['suma_total'] = dfb.iloc[:, 1:27].sum(axis=1)

/tmp/ipykernel_25898/708571672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb['suma_total'] = dfb.iloc[:, 1:27].sum(axis=1)

In [625]:
dfb

,NOMBRE\nMUNICIPIO,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO,suma_total
0,0,16.0,9.0,0.0,29.0,18.0,0.0,258.0,163.0,0.0,527.0,272.0,0.0,3876.0
1,ASIENTOS,10.0,23.0,0.0,27.0,28.0,0.0,135.0,135.0,0.0,119.0,129.0,0.0,1818.0
2,ASIENTOS,15.0,11.0,0.0,23.0,35.0,0.0,126.0,123.0,0.0,119.0,118.0,0.0,1710.0
3,ASIENTOS,15.0,13.0,0.0,23.0,29.0,0.0,134.0,157.0,0.0,122.0,131.0,0.0,1872.0
4,ASIENTOS,26.0,19.0,0.0,28.0,22.0,0.0,188.0,177.0,0.0,160.0,145.0,0.0,2295.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70779,TRANCOSO,15.0,14.0,0.0,17.0,21.0,0.0,99.0,115.0,0.0,103.0,109.0,0.0,1479.0
70780,TRANCOSO,8.0,12.0,0.0,10.0,13.0,0.0,69.0,80.0,0.0,70.0,60.0,0.0,966.0
70781,TRANCOSO,10.0,11.0,0.0,16.0,13.0,0.0,76.0,72.0,0.0,85.0,77.0,0.0,1080.0
70782,TRANCOSO,0.0,1.0,0.0,2.0,4.0,0.0,8.0,9.0,0.0,7.0,9.0,0.0,120.0
70783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Renombramos la columna suma_total

In [665]:
resultado_agrupado1 = dfb.groupby('NOMBRE\nMUNICIPIO' ).sum().sort_values(by='suma_total')

In [666]:
resultado_agrupado1

,LISTA_18_HOMBRES,LISTA_18_MUJERES,LISTA_18_NOBINARIO,LISTA_19_HOMBRES,LISTA_19_MUJERES,LISTA_19_NOBINARIO,LISTA_20_24_HOMBRES,LISTA_20_24_MUJERES,LISTA_20_24_NOBINARIO,LISTA_25_29_HOMBRES,LISTA_25_29_MUJERES,LISTA_25_29_NOBINARIO,suma_total
NOMBRE MUNICIPIO,,,,,,,,,,,,,
SANTA MAGDALENA JICOTLAN,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,3.0,1.0,0.0,8.0
SANTIAGO TEPETLAPA,1.0,1.0,0.0,3.0,0.0,0.0,1.0,7.0,0.0,3.0,1.0,0.0,17.0
SANTIAGO NEJAPILLA,1.0,0.0,0.0,0.0,1.0,0.0,8.0,2.0,0.0,2.0,4.0,0.0,18.0
SANTO DOMINGO TLATAYAPAM,1.0,0.0,0.0,1.0,3.0,0.0,4.0,2.0,0.0,6.0,6.0,0.0,23.0
SANTA MARIA TATALTEPEC,2.0,1.0,0.0,0.0,2.0,0.0,10.0,4.0,0.0,4.0,6.0,0.0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
LEON,10822.0,11146.0,0.0,14718.0,14837.0,1.0,79150.0,79074.0,0.0,77527.0,76345.0,0.0,363620.0
PUEBLA,10804.0,10625.0,0.0,14434.0,14554.0,0.0,79064.0,78959.0,0.0,79045.0,78943.0,0.0,366428.0
IZTAPALAPA,10305.0,10338.0,0.0,14789.0,14599.0,0.0,79834.0,79275.0,0.0,82113.0,82003.0,1.0,373257.0
TIJUANA,12219.0,12156.0,0.0,16821.0,16166.0,0.0,95208.0,90534.0,1.0,103533.0,96919.0,0.0,443557.0
JUAREZ,14955.0,14681.0,0.0,18984.0,18523.0,0.0,99939.0,96128.0,1.0,96712.0,91734.0,0.0,451657.0

Realizamos la agrupacion por municipio

In [634]:
resultado_agrupado1 = dfb.groupby(dfb.columns[0]).sum().sort_values(by='suma_total', ascending=False)

In [635]:
resultado_agrupado1

,PADRON_18_HOMBRES,PADRON_18_MUJERES,PADRON_18_NOBINARIO,PADRON_19_HOMBRES,PADRON_19_MUJERES,PADRON_19_NOBINARIO,PADRON_20_24_HOMBRES,PADRON_20_24_MUJERES,PADRON_20_24_NOBINARIO,PADRON_25_29_HOMBRES,PADRON_25_29_MUJERES,PADRON_25_29_NOBINARIO,suma_total
NOMBRE MUNICIPIO,,,,,,,,,,,,,
JUAREZ,14996.0,14705.0,0.0,19040.0,18570.0,0.0,100160.0,96272.0,1.0,96931.0,91906.0,0.0,1357743.0
TIJUANA,12237.0,12169.0,0.0,16841.0,16185.0,0.0,95303.0,90604.0,1.0,103662.0,97020.0,0.0,1332066.0
IZTAPALAPA,10327.0,10370.0,0.0,14821.0,14624.0,0.0,79964.0,79395.0,0.0,82232.0,82114.0,1.0,1121544.0
PUEBLA,10827.0,10643.0,0.0,14457.0,14575.0,0.0,79185.0,79044.0,0.0,79163.0,79052.0,0.0,1100838.0
LEON,10853.0,11163.0,0.0,14748.0,14861.0,1.0,79239.0,79157.0,0.0,77648.0,76438.0,0.0,1092324.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
SANTA MARIA TATALTEPEC,2.0,1.0,0.0,0.0,2.0,0.0,10.0,4.0,0.0,4.0,6.0,0.0,87.0
SANTO DOMINGO TLATAYAPAM,1.0,0.0,0.0,1.0,3.0,0.0,4.0,2.0,0.0,6.0,6.0,0.0,69.0
SANTIAGO NEJAPILLA,1.0,0.0,0.0,0.0,1.0,0.0,8.0,2.0,0.0,2.0,4.0,0.0,54.0
SANTIAGO TEPETLAPA,1.0,1.0,0.0,3.0,0.0,0.0,1.0,7.0,0.0,3.0,1.0,0.0,51.0
SANTA MAGDALENA JICOTLAN,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,3.0,1.0,0.0,24.0

In [1]:
resultado_agrupado1 = resultado_agrupado1['suma_total']

NameError: name 'resultado_agrupado1' is not defined

In [2]:
resultado_agrupado1

NameError: name 'resultado_agrupado1' is not defined